* {
    margin: 0;
    padding: 0;
    /* Colocando padding e border p dentro do conteúdo(interno)*/
    box-sizing: border-box;
}

/* Grid em geral, onde contém as box com Padding e as box com Conteúdo */
.grid {
    padding: 15px;
}

/* Criando para grid um clear para não misturar elementos */
.grid::after {
    /* Adicionando conteúdo vazio apenas para conseguir clenar */
    content: '';
    display: block;
    /* Clenando ambos os lados para deixar a grid exclusiva */
    clear: both;
}
/* Criando as box em termos de proporções e mapeamento */
.grid .col {
    /* Cada box ocupa 1/3 da tela */
    width: 33.33%;
    height: 200px;
    /* Padding para separar as divs .col-content na estrutura geral*/
    padding: 15px;
    /* Float para fazer a Box ocupar o espaço que ela de fato tem */
    float: left;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background: red;
    
}