* {
    margin: 0;
    padding: 0;
    /* Padding e Border agora fazem parte do tamanho de Content(width/height) */
    box-sizing: border-box;
}

.grid {
    padding: 15px;
}

.grid .col {
    height: 200px;
    padding: 15px;
    /* Float para fazer a Box ocupar o espaço que ela de fato tem, similar ao display flex */
    float: left;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background-color: darkcyan;
}
/* Media são condicionais para Css específico em dimensões de tela */

/* Até 320px 1 coluna */
@media (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
}
/* Entre 321px e 768px de largura, 2 colunas */
@media (min-width: 569px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
    }
}
/* Utilizando condicionais(@media) que modificam a largura por meio de classes(.grid .col) */
@media (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
    }
}
/* Se tiver no mínimo 1201px ocuopa 4 colunas */
@media (min-width: 1201px) {
    .grid .col {
        width: 25%;
    }
}